header {
  height: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-image: url(../images/brushed-alum.png);
  background-color: #6773a1;
  color: #ffffff;
  font-size: 36px;
  padding-top: 0.5em;
}

