main {
  font-weight: bold;
}

#tweet-button {
  background-color: #4056a1;
  color: white;
  border: 0;
  padding: 0.2em;
  font-family: "Bungee", sans-serif;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

#tweet-button:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #cd4444;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#tweet-button:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
  right: 0;
}

#tweet-bottom {
  margin-top: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#tweet-text {
  background-color: transparent;
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  border-bottom: 2px solid #545149;
  padding-top: 0.5em;
}

.counter {
  font-family: "Bungee", sans-serif;
}

.new-tweet {
  width: 100%;
}
