.tweet {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  border: 2px solid #545149;
  font-weight: 700;
  opacity: 1;
}

.tweet:hover {
  box-shadow: 5px 10px #c5cbe3;
}

.tweet:hover header > *:last-child {
  display: inline-block;
}

.tweet:hover footer > *:last-child {
  display: inline-block;
}

.tweet:hover .active {
  opacity: 1;
}

.tweet header {
  background-color: #f4f1ec;
}

.avatar-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.tweet-header {
  margin: 5px 10px 5px 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.tweet-body-container {
  border-bottom: 2px solid #545149;
  margin: 10px 10px 5px 10px;
}

.tweet-body {
  margin-bottom: 2px;
  height: 3em;
  font-size: 16px;
  opacity: 0.5;
  overflow: auto;
}

.tweet-footer {
  margin: 10px 10px 5px 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 12px;
  height: 2em;
  opacity: 0.5;
}

.avatar-name {
  margin-left: 15px;
  font-weight: 300;
  padding-top: 10px;
  opacity: 0.5;
}

.avatar-handle {
  display: none;
  padding-top: 10px;
  color: #c5cbe3;
}

.avatar-img {
  opacity: 0.5;
  height: 50px;
}

.socials {
  display: none;
}
